.breadTop {
  width: 70%;
  height: 20%;
  background: -webkit-gradient(linear, left top, left bottom, from(#bf5b21), to(#df7834));
  background: linear-gradient(#bf5b21, #df7834);
  border-radius: 50% 50% 0 0;
  margin: 2% auto;
  -webkit-box-shadow: inset -15px 0 #c15710;
          box-shadow: inset -15px 0 #c15710;
  position: relative;
}

.breadTop .seed {
  position: absolute;
  background-color: #fff;
  border-radius: 40%;
  width: 10%;
  height: 15%;
  top: 50%;
  left: 30%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-box-shadow: inset -2px -3px #c9c9c9;
          box-shadow: inset -2px -3px #c9c9c9;
}

.breadTop .seed:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 40%;
  width: 100%;
  height: 100%;
  top: -260%;
  left: -170%;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-box-shadow: inset -1px 2px #c9c9c9;
          box-shadow: inset -1px 2px #c9c9c9;
}

.breadTop .seed:before {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 40%;
  width: 100%;
  height: 100%;
  top: -50%;
  left: 180%;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-box-shadow: inset -1px -3px #c9c9c9;
          box-shadow: inset -1px -3px #c9c9c9;
}

.breadTop .seed2 {
  position: absolute;
  background-color: #fff;
  border-radius: 40%;
  width: 10%;
  height: 15%;
  top: 50%;
  left: 64%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-box-shadow: inset -3px 0 #c9c9c9;
          box-shadow: inset -3px 0 #c9c9c9;
}

.breadTop .seed2:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 40%;
  width: 100%;
  height: 100%;
  top: -250%;
  left: 180%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-box-shadow: inset 1px 3px #c9c9c9;
          box-shadow: inset 1px 3px #c9c9c9;
}

.salad {
  width: 80%;
  height: 3%;
  background: -webkit-gradient(linear, left top, left bottom, from(#329427), to(#82c648));
  background: linear-gradient(#329427, #82c648);
  border-radius: 10px;
  margin: 2% auto;
}

.bacon {
  width: 70%;
  height: 2%;
  background: -webkit-gradient(linear, left top, left bottom, from(#c63e23), to(#c3552f));
  background: linear-gradient(#c63e23, #c3552f);
  border-radius: none;
  margin: 2% auto;
}

.cheese {
  width: 83%;
  height: 2%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1cd07), to(#dbc036));
  background: linear-gradient(#f1cd07, #dbc036);
  border-radius: 10px;
  margin: 2% auto;
}

.meat {
  width: 70%;
  height: 5%;
  background: -webkit-gradient(linear, left top, left bottom, from(#7c2903), to(#723005));
  background: linear-gradient(#7c2903, #723005);
  border-radius: 20px;
  margin: 2% auto;
}

.breadBottom {
  width: 70%;
  height: 15%;
  background: #e47d38;
  border-radius: 0 0 30px 30px;
  margin: 2% auto;
  -webkit-box-shadow: inset -15px 0 #c15710;
          box-shadow: inset -15px 0 #c15710;
}
/*# sourceMappingURL=burgerElement.module.css.map */