@mixin bread($width, $height, $background, $borderRadius, $margin: 2% auto) {
    width: $width;
    height: $height;
    background: $background;
    border-radius: $borderRadius;
    margin: $margin;
}
@mixin seed($width, $height, $top, $left, $transform, $boxShadow) {
position: absolute;
background-color: #fff;
border-radius: 40%;
width: $width;
height: $height;
top:$top;
left: $left;
transform: $transform;
box-shadow: $boxShadow;    
}
.bread {
    width: 500px;
    height: 450px;
    margin: 10px auto;
    &-top {
        @include bread (70%, 20% ,linear-gradient(#BF5B21,#DF7834), 50% 50% 0 0 );
        box-shadow: inset -15px 0 #C15710;
        position: relative;
        .seed {     
            @include seed(10%,15% ,50% ,30% ,rotate(-20deg) ,inset -2px -3px #c9c9c9 );
            &:after{
                content: '';
                @include seed(100%, 100% , -260% , -170% , rotate(60deg) , inset -1px 2px #c9c9c9 )
            }
            &:before{
                content: '';
                @include seed(100%, 100% , -50% , 180% , rotate(60deg) , inset -1px -3px #c9c9c9 )
            }
        }
        .seed-2{
            @include seed(10%,15% ,50% ,64% ,rotate(20deg) ,inset -3px 0 #c9c9c9 );
            &:after{
                content: '';
                @include seed(100%, 100% , -250% , 180% , rotate(90deg) , inset 1px 3px #c9c9c9 )
            }
        }
        
    }
    .salad{
        @include bread(80%, 3% , linear-gradient(#329427, #82C648) , 10px );
    }
    .bacon{
        @include bread(70%, 2%, linear-gradient(#C63E23, #C3552F), none);
    }
    .cheese{
        @include bread(83%,2% , linear-gradient(#F1CD07, #DBC036), 10px);
    }
    .meet{
        @include bread(70%,5% ,linear-gradient(#7C2903, #723005) , 20px )
    }
    &-bottom{
        @include bread(70%,15% ,#E47D38 , 0 0 30px 30px);
        box-shadow: inset -15px 0 #C15710 ; 
    }

}