.Board{
    display: flex;
    align-items: center;
    background-color: #E2B57C;
    width: 30%;
    margin: 0 auto;
    flex-flow: column;
    height: 450px;
    span{
        font-size: 1rem;
        font-weight: 600;
        margin: 10px 0;
    }
}
.btnOrder{
    background-color: #DAD835;
    cursor: pointer;
    outline: none;
    color: #B59B1E;
    padding: 10px 15px;
    margin: 20px auto
}

@media screen and (max-width: 1024px){
    .Board{
        width: 600px;
        height: 400px;
    }
}
@media screen and (max-width: 768px){
    .Board{
        width: 450px;
        height: 400px;
    }
}
@media screen and (max-width: 480px){
    .Board{
        width: 300px;
        height: 370px;
    }
}

@media screen and (max-width: 320px){
    .Board{
        width: 220px;
        height: 350px;
    }
    .btnOrder{
        padding: 8px 8px;
        margin: 10px auto
    }
}