.content{
    button{
        border: none;
        background-color: #fff;
        cursor: pointer;
    }
    .btnCancel{
        color: #AA6242;
        margin: 0 10px;   
    }
    .btnContinue{
        color: #7EA93B
    }
}

@media screen and (max-width: 480px){
    .content{
        font-size: 15px;
    }
}

@media screen and (max-width: 320px){
    .content{
        font-size: 14px;
    }
}