.content{
    button{
        border: none;
        background-color: #fff;
        cursor: pointer;
    }
    .btnCancel{
        color: #AA6242;
        margin: 0 10px;   
    }
    .btnContinue{
        color: #7EA93B
    }
}