
.Modal{
    position: fixed;
  z-index: 10;
  background-color: white;
  width: 35%;
  border: 1px solid #ccc;
  padding: 16px;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  left: 32%;
}