
.Modal{
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 35%;
  border: 1px solid #ccc;
  padding: 16px;
  top: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
  left: 32%;
}

@media screen and (max-width: 1024px){
    .Modal{
        width: 650px;
        top: 35%;
        left: 18%;
    }
}
@media screen and (max-width: 768px){
    .Modal{
        width: 500px;
        top: 35%;
        left: 18%;
    }
}
@media screen and (max-width: 480px){
    .Modal{
        width: 80%;
        top: 28%;
        left: 10%;
    }
}

@media screen and (max-width: 320px){
    .Modal{
        width: 250px;
        top: 28%;
        left: 12%;
    }
}