.showModal{
    position: fixed;
    z-index: 10;
    background-color: white;
    width: 35%;
    border: 1px solid #ccc;
    padding: 16px;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    left: 32%;
    transform: translateY(0);
    opacity: 1;
  }
  
  .hideModal{
    position: fixed;
    z-index: 10;
    background-color: white;
    width: 35%;
    border: 1px solid #ccc;
    padding: 16px;
    top: 30%;
    box-sizing: border-box;
    left: 32%;
    transition: all 0.3s ease-out;
    transform: translateY(100vh);
    opacity: 0;
  }
  @media screen and (max-width: 1024px){
    .showModal{
        width: 650px;
        top: 35%;
        left: 18%;
    }
}
@media screen and (max-width: 768px){
    .showModal{
        width: 500px;
        top: 35%;
        left: 18%;
    }
}
@media screen and (max-width: 480px){
    .showModal{
        width: 80%;
        top: 28%;
        left: 10%;
    }
}

@media screen and (max-width: 320px){
    .showModal{
        width: 250px;
        top: 28%;
        left: 12%;
    }
}